.btn {
	cursor: pointer;
	padding: 8px 15px 5px;
	min-height: 36px;
	display: inline-flex;
	align-items: center;
	font-size: rem(15);
	font-weight: 500;
	line-height: 1.1;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: $brand-color-primary;
	background: $white;
	border: 1px solid $brand-color-primary;
	user-select: none;
	transition: all $transition-default;

	@include resp-from(lg) {
		font-size: rem(19);
	}

	@include on-active {
		color: $white;
		background: $brand-color-primary;
	}

	@media (hover: hover) {
		@include on-hover {
			color: $white;
			background: $brand-color-primary;
		}
	}

	// .btn_white
	&_white {
		color: $brand-color-primary;
		background: $white;
		border-color: transparent;

		@include on-active {
			color: $white;
			background: $red;
		}

		@media (hover: hover) {
			@include on-hover {
				color: $white;
				background: $red;
			}
		}
	}

	// .btn_blue
	&_blue {
		color: $white;
		background: $blue;
		border-color: $blue;

		@include on-active {
			color: $white;
			background: $red;
			border-color: $red;
		}

		@media (hover: hover) {
			@include on-hover {
				color: $white;
				background: $red;
				border-color: $red;
			}
		}
	}
}
