.flag {
	display: flex;
	align-items: center;
	gap: 15px;
	line-height: 1;

	&.is-active {
		color: $red;
	}

	@include when-inside(".lang-nav") {
		--width: 20px;
		--height: 20px;
		--border-radius: 50%;

		@include resp-from(md) {
			--width: 32px;
			--height: 32px;
		}
	}

	@include when-inside(".notice") {
		--width: 40px;
		--height: 23px;
		--border-width: 1px;

		@include resp-from(hd) {
			--width: 67px;
			--height: 39px;
		}
	}

	@include when-inside(".event") {
		--width: 30px;
		--height: 17px;
		--border-width: 1px;

		@include resp-from(lg) {
			--width: 40px;
			--height: 23px;
		}
	}

	@include when-inside(".resort-short") {
		--width: 40px;
		--height: 23px;

		@include resp-from(md) {
			--width: 55px;
			--height: 32px;
		}
	}

	&::before {
		content: "";
		display: block;
		width: var(--width);
		height: var(--height);
		flex: 0 0 auto;
		border-radius: var(--border-radius, 0);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	// .flag_ru
	&_ru {
		&::before {
			background-image: $svg-flag-ru;
			border: var(--border-width, 0) solid $gray-light;
		}
	}
	// .flag_en
	&_en {
		&::before {
			background-image: $svg-flag-en;
		}
	}
	// .flag_kz
	&_kz {
		&::before {
			background-image: $svg-flag-kz;
		}
	}
	// .flag_az
	&_az {
		&::before {
			background-image: $svg-flag-az;
		}
	}
	// .flag_uz
	&_uz {
		&::before {
			background-image: $svg-flag-uz;
			border: var(--border-width, 0) solid $gray-light;
		}
	}
	// .flag_eagk
	&_eagk {
		&::before {
			background-image: $svg-flag-eagk;
		}
	}
}
