.flag {
	display: flex;
	align-items: center;
	gap: 15px;
	line-height: 1;

	&.is-active {
		color: $red;
	}

	@include when-inside(".lang-nav") {
		--width: 20px;
		--height: 20px;
		--border-radius: 50%;

		@include resp-from(md) {
			--width: 32px;
			--height: 32px;
		}
	}

	@include when-inside(".notice") {
		--width: 40px;
		--height: 23px;
		--border-width: 1px;

		@include resp-from(hd) {
			--width: 67px;
			--height: 39px;
		}

		&.flag_eagk {
			// background: $blue;
			// flex-shrink: 0;
			// justify-content: center;
			// width: var(--width);
			// height: var(--height);

			&::before {
				width: var(--height);
				height: var(--height);
				background-image: $svg-flag-eagk-blue;
			}
		}
	}

	@include when-inside(".event") {
		--width: 30px;
		--height: 17px;
		--border-width: 1px;

		@include resp-from(lg) {
			--width: 40px;
			--height: 23px;
		}
	}

	@include when-inside(".resort-short") {
		--width: 40px;
		--height: 23px;

		@include resp-from(md) {
			--width: 55px;
			--height: 32px;
		}
	}

	@include when-inside(".about-resort") {
		--width: 36px;
		--height: 21px;
		--border-width: 1px;

		@include resp-from(md) {
			--width: 50px;
			--height: 30px;
		}
	}

	@include when-inside(".news-card") {
		&_kz {
			--bg-size: 230%;
			--pos: 54% 45%;
		}

		&_uz {
			--pos: -1px center;
		}
	}

	&::before {
		content: "";
		display: block;
		width: var(--width, 40px);
		height: var(--height, 23px);
		flex: 0 0 auto;
		border-radius: var(--border-radius, 0);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	// .flag_ru
	&_ru {
		&::before {
			background-image: $svg-flag-ru;
			border: var(--border-width, 0) solid $gray-light;
		}
	}
	// .flag_en
	&_en {
		&::before {
			background-image: $svg-flag-en;
		}
	}
	// .flag_kz
	&_kz {
		&::before {
			background-image: $svg-flag-kz;
			background-size: var(--bg-size, cover);
			background-position: var(--pos, center);
		}
	}
	// .flag_az
	&_az {
		&::before {
			background-image: $svg-flag-az;
		}
	}
	// .flag_uz
	&_uz {
		&::before {
			background-image: $svg-flag-uz;
			border: var(--border-width, 0) solid $gray-light;
			background-position: var(--pos, center);
		}
	}
	// .flag_eagk
	&_eagk {
		&::before {
			background-image: $svg-flag-eagk;
		}
	}
}
