.quotes {
	padding: 28px 0 60px;
	margin-bottom: 25px;
	border-top: 1px solid $brand-color-primary;
}

.quote {
	padding-left: 50px;

	@include resp-from(md) {
		padding-left: 0;
	}

	// .quote__author
	&__author {
		display: flex;
		// align-items: center;
		gap: 20px;

		@include resp-from(md) {
			flex-wrap: wrap;
		}
	}

	// .quote__person
	&__person {
		color: $brand-color-primary;
		display: flex;
		flex-direction: column;
		gap: 11px;
		max-width: 200px;

		@include resp-from(lg) {
			max-width: none;
			flex: 1 1 50%;
		}

		@include resp-from(xl) {
			gap: 15px;
		}
	}

	// .quote__name
	&__name {
		word-spacing: 100vw;
		font-size: rem(16);
		font-weight: 600;
		line-height: 1.3;

		@include resp-from(xl) {
			font-size: rem(20);
		}
	}

	// .quote__position
	&__position {
		font-size: rem(15);

		@include resp-from(xl) {
			font-size: rem(18);
		}
	}

	// .quote__photo
	&__photo {
		display: flex;
		// justify-content: center;
		flex: 0 0 auto;
		order: -1;

		@include resp-from(lg) {
			order: 0;
			flex: 1 0 auto;
		}

		img,
		picture {
			width: 71px;
			border-radius: 50%;

			@include resp-from(lg) {
				width: 100px;
			}

			@include resp-from(xl) {
				width: 150px;
			}
		}
	}

	// .quote__quote
	&__quote {
		position: relative;
		font-size: rem(15);
		line-height: 1.4;
		order: -1;

		@include resp-from(md) {
			font-size: rem(18);
			order: 0;
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			left: -30px;
			width: 30px;
			height: 25px;
			background: $svg-quote center / contain no-repeat;
		}
	}

	// .quote__logo
	&__logo {
		span {
			display: inline-block;
			color: $brand-color-primary;
			text-transform: uppercase;
			font-size: rem(19);
			line-height: 1.1;
			font-weight: 500;
			letter-spacing: 0.06em;
			margin-bottom: 13px;
		}

		svg {
			fill: $brand-color-primary;
			display: block;
			width: 100%;
			max-height: 90px;
		}
	}
}

.news-quote {
	position: relative;
	max-width: 525px;
	color: $blue;
	font-size: rem(18);
	line-height: 1.5;
	padding-left: 42px;
	margin: 35px 0 50px;

	&::before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		width: 30px;
		height: 25px;
		background: $svg-quote center / contain no-repeat;
	}

	b,
	strong {
		display: block;
	}
}
