.bg-secondary {
	background: $brand-color-secondary;
	color: $white;
}

.bg-gray-blue-light {
	background: $gray-blue-light;
}

.bg-gray-blue {
	background: $gray-blue;
}

/**
 * Selections
 */
::-moz-selection {
	background: $selectionBg;
	color: $selectionText;
}

::selection {
	background: $selectionBg;
	color: $selectionText;
}

img::-moz-selection {
	background: rgba($selectionBg, 0.5);
	color: transparent;
}

img::selection {
	background: rgba($selectionBg, 0.5);
	color: transparent;
}
