/**
 * Backgrounds
 */

.bg-secondary {
	background: $brand-color-secondary;
	color: $white;
}

.bg-gray-blue-light {
	background: $gray-blue-light;
}

.bg-gray-blue {
	background: $gray-blue;
}

// .bg-white {
// 	background: $white;
// 	--bg-full: #{$white};
// }

.bg-gray-light {
	background: $gray-light;
	--bg-full: #{$gray-light};
}

.bg-full {
	box-shadow: 0 0 0 100vmax var(--bg-full);
	clip-path: inset(0 -100vmax);
}

.bg-full-vertical {
	box-shadow: 0 0 0 100vmax var(--bg-full);
	clip-path: inset(-100vmax 0);
}

/**
 * Selections
 */
::-moz-selection {
	background: $selectionBg;
	color: $selectionText;
}

::selection {
	background: $selectionBg;
	color: $selectionText;
}

img::-moz-selection {
	background: rgba($selectionBg, 0.5);
	color: transparent;
}

img::selection {
	background: rgba($selectionBg, 0.5);
	color: transparent;
}
