// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
	font-family: "Gogh";
	src: local("Gogh Regular"), local("Gogh-Regular"),
			url("../fonts/Gogh-Regular.woff2") format("woff2"),
			url("../fonts/Gogh-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gogh";
	src: local("Gogh Medium"), local("Gogh-Medium"),
			url("../fonts/Gogh-Medium.woff2") format("woff2"),
			url("../fonts/Gogh-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gogh";
	src: local("Gogh Bold"), local("Gogh-Bold"),
			url("../fonts/Gogh-Bold.woff2") format("woff2"),
			url("../fonts/Gogh-Bold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}