// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
	overflow: hidden;
	padding: 0; /* 1 */
	text-indent: 101%;
	white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/**
 * Visibility
 */
.hidden {
	display: none !important;
}

// .hidden-lg
.hidden-lg {
	@include resp-from(lg) {
		display: none !important;
	}
}

// .visible-lg
.visible-lg {
	@include resp-to(lg) {
		display: none !important;
	}
}

/**
 * Scrollbar
 */
.scrollblock {
	--scrollbar-track: 3px;
	--scrollbar-thumb: 3px;
	overflow: hidden;
	height: 100%;

	&.scroll-x {
		overflow-x: auto;

		&::-webkit-scrollbar-track {
			border-bottom: var(--scrollbar-track) solid $gray-light;
		}

		&::-webkit-scrollbar-thumb {
			border-bottom: var(--scrollbar-thumb) solid $red;
		}
	}

	&.scroll-y {
		overflow-y: auto;
		padding-bottom: 5px;

		&::-webkit-scrollbar-track {
			border-right: var(--scrollbar-track) solid $gray-light;
		}

		&::-webkit-scrollbar-thumb {
			border-right: var(--scrollbar-thumb) solid $red;
		}
	}

	// overscroll-behavior: contain; // https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior
	// overscroll-behavior-x: contain;
	// overscroll-behavior-y: contain;

	/* Firefox */
	@supports (-moz-appearance: none) {
		scrollbar-width: thin;
		scrollbar-color: $gray-dark $gray-light;
	}

	/* Chrome, Edge and Safari */
	&::-webkit-scrollbar {
		width: 14px;
		height: 14px;
	}

	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-thumb {
		border-radius: 0;
	}

	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-track:hover,
	&::-webkit-scrollbar-track:active {
		background-color: $white;
	}

	&::-webkit-scrollbar-thumb:hover,
	&::-webkit-scrollbar-thumb:active {
		border-color: $red;
	}
}

.hide-scroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */

	&::-webkit-scrollbar {
		display: none;
	}
}

/**
 * Other
 */

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.nowrap {
	white-space: nowrap;
}

.noscroll {
	height: 100vh;
	overflow: hidden;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-visible {
	overflow: visible;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.top {
	top: 0;
}

.bottom {
	bottom: 0;
}

.z-1 {
	z-index: 1;
}

.center-to-md {
	display: flex;
	justify-content: center;

	@include resp-from(md) {
		display: block;
	}
}

/**
 * Borders
 */
.circle {
	border-radius: 50%;
}

/**
 * Heights / Widths
 */
.h-100 {
	height: 100% !important;
}

/**
 * Dropdown arrow
 */
button {
	&.dropdown {
		width: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		font-size: 0;
		padding: 11px 0;
		border: 0;
		background: transparent;

		&_label {
			flex-direction: column;
			align-items: flex-end;
			font-size: rem(14);
			color: $gray-dark;
			padding: 0;
			gap: 12px;

			&::after {
				color: $brand-color-primary;
				order: -1;
				margin-right: 3px;
			}
		}

		&.is-opened {
			--arrow-opened-margin: 0 3px -9px 0;

			&::after {
				transform: rotate(225deg) scale(-1);
				margin: var(--arrow-opened-margin, 0);
			}
		}
	}
}

.dropdown {
	color: currentColor;

	&::after {
		content: "";
		transform: rotate(225deg);
		transition: all $transition-default;
		width: var(--arrow-width, 14px);
		height: var(--arrow-width, 14px);
		border-top: 2px solid var(--arrow-color, currentColor);
		border-left: 2px solid var(--arrow-color, currentColor);
		margin: var(--arrow-margin, 0);
	}

	&.dropdown_hover {
		@include on-hover {
			&::after {
				transform: rotate(225deg) scale(-1);
				border-color: var(--arrow-hover-color, currentColor);
				margin: var(--arrow-hover-margin, 0);
			}
		}
	}

	@include when-inside(".lang-nav") {
		--arrow-color: #{$red};
		--arrow-width: 14px;
		--arrow-margin: -5px 0 0 7px;
		--arrow-hover-color: #b7c3ef;
		--arrow-hover-margin: 7px 0 0 7px;

		&::after {
			display: none;

			@include resp-from(md) {
				display: block;
			}
		}
	}
}
