// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//** Fonts
/// Headers font family
/// @type List
$family-headers: "Gogh", "Helvetica", "Open Sans", "Arial", system-ui, sans-serif !default;

/// Regular font family
/// @type List
$family-text: "Gogh", "Helvetica", "Open Sans", "Arial", system-ui, sans-serif !default;

/// Default font size for rem() function (body font-size 100%)
$browser-context: 16;

//** Colors --var
// Цвета дублируются в _root-vars-map для первичной генерации переменных root-vars.scss
// Можно обойтись без дублирования тут, если вызывать через функцию color(color-name) напрямую из _root-vars-map, но так дольше писать xD
/// Simple colors
/// @type Color
$white: var(--white);
$black: var(--black);
$gray: var(--gray);
$gray-light: var(--gray-light);
$gray-blue-light: var(--gray-blue-light);
$gray-blue: var(--gray-blue);
$gray-dark: var(--gray-dark);
$red: var(--red);
$blue: var(--blue);
$blue-light: var(--blue-light);
$blue-dark: var(--blue-dark);
$green: var(--green);
$error: var(--error);

$selectionBg: #747cf7;
$selectionText: $white;

/// Main brand color
/// @type Color
$brand-color-primary: $blue-dark !default;
// $brand-color-primary-lighten: lighten($brand-color-primary, 30%);
// $brand-color-primary-darken: darken($brand-color-primary, 10%);

$brand-color-secondary: $blue !default;
// $brand-color-secondary-lighten: lighten($brand-color-secondary, 20%);
// $brand-color-secondary-darken: darken($brand-color-secondary, 10%);

/// Text color
/// @type Color
$text-color: $black;
$href-color: $black;
$href-color-hover: $black;

/// Form colors
/// @type Color
$placeholder-color: $gray-dark;
$input-color: $black;

//** SVGs --var
$svg-quote: var(--svg-quote);
$svg-flag-ru: var(--svg-flag-ru);
$svg-flag-en: var(--svg-flag-en);
$svg-flag-kz: var(--svg-flag-kz);
$svg-flag-az: var(--svg-flag-az);
$svg-flag-uz: var(--svg-flag-uz);
$svg-flag-eagk: var(--svg-flag-eagk);
$svg-flag-eagk-blue: var(--svg-flag-eagk-blue);

/// Transitions
$transition-default: 250ms ease-in-out;

/// Container's maximum width + paddings
/// @type Length
$min-width: 320px !default;
$max-width: 1440px !default;
$min-padding: 16px !default;
$max-padding: 10px !default;

//** Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
	"xs": 375px,
	"sm": 425px,
	"xm": 577px,
	"md": 768px,
	"lg": 1024px,
	"xl": 1280px,
	"hd": 1440px,
	"fhd": 1920px,
) !default;

/// Icons base64
// $menu-arrow-white: "data:image/svg+xml;base64,.....";
