.swiper-alliance {
	--swiper-navigation-color: #{$white};
	--swiper-navigation-size: 33px;
	--swiper-pagination-bottom: 10px;
	--swiper-navigation-sides-offset: 16px;
	margin: 0 auto;
	max-width: 1660px;

	@include resp-from(md) {
		--swiper-navigation-size: 38px;
		--swiper-pagination-bottom: 40px;
	}

	@include resp-from(hd) {
		--swiper-navigation-sides-offset: 70px;
	}

	.swiper {
		padding-bottom: 0;
	}

	.swiper-slide {
		position: relative;

		img {
			width: 100%;
			height: 263px;
			object-position: center;
			object-fit: cover;

			@include resp-from(md) {
				height: 617px;
			}
		}
	}

	// .swiper-alliance__logo
	&__logo {
		position: absolute;
		top: 14px;
		left: 16px;
		display: flex;
		align-items: center;
		gap: 20px;

		@include resp-from(md) {
			top: 45px;
			gap: 40px;
		}

		svg {
			&:first-child {
				width: 28px;
				height: 40px;

				@include resp-from(md) {
					width: 43px;
					height: 61px;
				}
			}

			&:last-child {
				// fill: $brand-color-primary;
				// max-width: 180px;
				max-height: 45px;

				@include resp-from(md) {
					// max-width: 290px;
					max-height: 70px;
				}
			}
		}

		&._logo-rosa {
			svg:last-child {
				width: 180px;

				@include resp-from(md) {
					width: 281px;
				}

			}
		}

		&._logo-amirsoy {
			svg:last-child {
				width: 55px;

				@include resp-from(md) {
					width: 85px;
				}
			}
		}

		&._logo-shymbulak {
			svg:last-child {
				width: 114px;

				@include resp-from(md) {
					width: 177px;
				}
			}
		}

		&._logo-shahdag {
			svg:last-child {
				width: 130px;

				@include resp-from(md) {
				width: 200px;
				}
			}
		}

		&._logo-oi-qaragai {
			svg:last-child {
				width: 160px;

				@include resp-from(md) {
					width: 250px;
				}
			}
		}

		&._logo-yongpyong {
			svg:last-child {
				width: 121px;

				@include resp-from(md) {
					width: 188px;
				}
			}
		}
	}
}
