.block-text {
	padding: 28px 0 35px;

	@include resp-from(md) {
		padding: 35px 0 70px;
	}

	& > div > div {
		margin-bottom: 28px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.h1 {
		color: $brand-color-primary;

		b,
		strong {
			color: $red;
			display: block;
		}
	}

	// .block-text__head
	&__head {
		color: $brand-color-primary;
		font-size: rem(17);
		line-height: 1.3;
		font-weight: 500;

		@include resp-from(lg) {
			font-size: rem(24);
		line-height: 1.4;
	}
	}

	// .block-text__button
	&__button {
		margin-top: 42px;
	}
}
