// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
	background: $brand-color-primary;
	color: $white;

	a {
		@include on-hover {
			text-decoration-color: rgba($color: #fff, $alpha: 0.3);
		}
	}

	// .footer__wrapper
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 60px 20px;
		padding: 50px 0 43px;
		margin: 0 calc(var(--grid-padding) * -1);

		@include resp-from(lg) {
			gap: 20px 0;
		}
	}

	// .footer__col
	&__col {
		// display: flex;
		// flex-direction: column;
		flex: 1 1 25%;
		padding: 0 var(--grid-padding);
		// gap: 34px;
	}

	// .footer__logo
	&__logo {
		a {
			display: flex;
		}

		svg {
			width: 226px;
			height: 78px;
		}
	}

	// .footer__menu
	&__menu {
		display: flex;
		gap: 20px;
	}

	// .footer__menu-col
	&__menu-col {
		flex: 1 1 100%;
	}

	// .footer__menu-header
	&__menu-header {
		margin-bottom: 28px;
	}

	// .footer__link-main
	&__link-main {
		font-weight: 500;
		font-size: rem(21);
		line-height: 1.2;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		text-decoration: none;

		@include on-hover {
			color: $red;
		}
	}

	// .footer__links
	&__links {
		display: flex;
		flex-direction: column;
		gap: 20px;

		&._interval {
			gap: 45px;
		}

		&._contacts {
			font-size: rem(20);
			gap: 4px;
		}
	}

	// .footer__contacts
	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 34px;
	}

	// .footer__header
	&__header {
		font-weight: 600;
		font-size: rem(21);
		line-height: 1.1;
		letter-spacing: 0.03em;
		text-transform: uppercase;
	}

	// .footer__social
	&__social {
		display: flex;
		gap: 20px;

		svg {
			fill: $gray;
			width: 40px;
			height: 40px;
		}

		a {
			display: flex;

			@include on-hover {
				svg {
					fill: $red;
				}
			}
		}
	}
}
