// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
	background: $brand-color-primary;
	color: $white;

	// .header__wrapper
	&__wrapper {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		position: relative;
		padding: 13px 0 15px;
		gap: 0 34px;

		@include resp-from(md) {
			padding: 19px 0 24px;
			gap: 0 30px;
		}

		@include resp-from(lg) {
			gap: 0 100px;
		}
	}

	// .header__logo
	&__logo {
		a {
			display: flex;
		}

		svg {
			width: 180px;
			height: 62px;

			// @include resp-from(lg) {
			// 	transition: width 0s;
			// }

			@include resp-from(lg) {
				width: 226px;
				height: 77px;
			}
		}
	}

	// .header__nav
	&__nav {
		display: flex;
		margin-left: auto;
		align-items: center;
		position: relative;
		order: 2;

		@include resp-from(md) {
			margin: 0;
			flex: 1 1 auto;
			max-width: 415px;
			order: 1;
		}

		@include resp-from(lg) {
			max-width: 615px;
		}
	}

	// .header__lang
	&__lang {
		display: flex;
		order: 1;
		align-self: flex-start;
		margin-top: 5px;

		@include resp-from(md) {
			order: 2;
			align-self: center;
			margin-top: 0;
		}
	}
}

.lang-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	display: inline-block;
	font-size: rem(16);
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	user-select: none;

	@include resp-from(md) {
		width: 170px;
		font-size: rem(21);
	}

	// .lang-nav__dropdown
	&__dropdown {
		display: flex;
		flex-direction: column;
		gap: 10px;
		z-index: -1;
		opacity: 0;
		width: 112px;
		position: absolute;
		top: 100%;
		transform: translateX(-20px);
		padding: 10px 20px;
		background: $brand-color-secondary;
		transition: all $transition-default;

		@include resp-from(md) {
			width: 170px;
			left: 0;
			padding: 14px 0 14px 41px;
			transform: none;
		}
	}

	// .lang-nav__item
	&__item {
		cursor: pointer;
		margin: 0;
		padding: 0 0 5px !important;

		@include resp-from(md) {
			padding: 10px 0 10px 41px !important;
		}

		@include on-hover {
			.lang-nav__dropdown {
				opacity: 1;
				z-index: 4;
			}
		}
	}

	// .lang-nav__text
	&__text {
		display: none;

		@include resp-from(md) {
			display: inline;
		}
	}

	// .lang-nav__link
	&__link {
		text-decoration: none;

		@include on-hover {
			color: $red;
		}
	}
}
