//*! https://codepen.io/forestdump/pen/LYrMOLa */

.menu-wrapper {
	@include resp-to(md) {
		display: flex;
		flex-direction: column;
		position: fixed;
		overflow: hidden;
		overflow-y: auto;
		top: 0;
		left: 0;
		bottom: 0;
		background: rgba(#ddd, 0.8);
		width: 100%;
		transform: translateX(-100%);
		transition: transform 0.5s ease-in-out;
		text-align: center;
		padding: 70px 0;
		z-index: 3;
	}
}

.nav {
	width: 100%;

	// .nav__list
	&__list {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
		// justify-content: center;
		gap: 10px 20px;
		margin: 0;
		padding: 0;

		@include resp-from(md) {
			flex-direction: row;
		}
	}

	// .nav__item
	&__item {
		padding: 0;
		margin: 0;
	}

	// .nav__link
	&__link {
		font-size: rem(16);
		line-height: 1.2;
		letter-spacing: 0.05em;
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: none;
		white-space: nowrap;
		transition: color $transition-default, font-size 0s;

		@include on-event {
			color: $red;
		}

		@include resp-from(md) {
			font-size: clamp(rem(15), 1.9vw, rem(21));
			font-size: clamp(rem(15), 1.9dvw, rem(21));
		}

	}
}

.menu-toggle {
	opacity: 0 !important;
	display: none !important;
	visibility: hidden !important;

	&:checked {
		~ .menu-wrapper {
			transform: translateX(0);
		}

		~ .hamburger-box .hamburger-inner {
			transition-delay: 0.12s;
			transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			transform: rotate(45deg);
		}

		~ .hamburger-box .hamburger-inner::before {
			top: 0;
			transition: top 75ms ease, opacity 75ms ease 0.12s;
			opacity: 0;
		}

		~ .hamburger-box .hamburger-inner::after {
			bottom: 0;
			transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
			transform: rotate(-90deg);
		}
	}
}

//* squeeze style from https://jonsuh.com/hamburgers/ */
.hamburger-box {
	cursor: pointer;
	display: flex;
	height: 24px;
	width: 40px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	z-index: 4;
	flex-direction: column;
	justify-content: space-between;

	@include resp-from(md) {
		display: none;
	}
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
	position: absolute;
	width: 40px;
	height: 4px;
	transition-timing-function: ease;
	transition-duration: 0.15s;
	transition-property: transform;
	border-radius: 4px;
	background: currentColor;
}

.hamburger-inner::after,
.hamburger-inner::before {
	display: block;
	content: "";
}

.hamburger-inner {
	top: 50%;
	margin-top: -2px;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition-duration: 75ms;
}

.hamburger-inner::before {
	top: -10px;
	transition: top 75ms ease 0.12s, opacity 75ms ease;
}

.hamburger-inner::after {
	bottom: -10px;
	transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
