<div class="content">
	<div class="block-text row">
		<div class="col-md-4 h1">Цели и задачи <br>альянса</div>
		<div class="col-md-8 col-lg-6">
			<div class="block-text__head">
				Альянс горных гурортов — это основа для стратегического развития туризма на Евразийском пространстве, совместного развития, профессионального общения, продвижения лучших практик и брендов горных курортов — лидеров отрасли.
			</div>
			<div class="block-text__body">
				Альянс поможет укрепить дружественные связи, добрососедство и создаст единую платформу для сохранения природного и культурного наследия стран-участниц. Обмен опытом между ведущими курортами выведет на новый уровень туристическую отрасль региона.
			</div>
		</div>
	</div>
</div>