<div class="content">
	<div class="block-text row">
		<div class="col-md-4 h1">Условия для новых участников</div>
		<div class="col-md-8 col-lg-6">
			<div class="block-text__head">
				Альянс сохраняет и&nbsp;приветствует открытость для присоединения горных курортов всех государств Евразийского континента.
			</div>
			<div class="block-text__body">
				Условия вступления для новых участников. По&nbsp;вопросам вступления обращаться в&nbsp;секретариат альянса Андрей Юрьевич Кукушкин, по&nbsp;телефону <a href="tel:+77017701003">+7 (701) 770-10-03</a> или электронной почте <a href="mailto:skieurasia@gmail.com">skieurasia@gmail.com</a>
			</div>
		</div>
	</div>
</div>