<div class="swiper-resorts">
	<div class="swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<a href="javascript:void(0)" class="js-resort" data-map="rosa">
					<img src="@img/dev/logo-resort-rosa.svg" width="" height="" alt="" loading="lazy">
				</a>
			</div>
			<div class="swiper-slide">
				<a href="javascript:void(0)" class="js-resort" data-map="amirsoy">
					<img src="@img/dev/logo-resort-amirsoy.svg" width="" height="" alt="" loading="lazy">
				</a>
			</div>
			<div class="swiper-slide">
				<a href="javascript:void(0)" class="js-resort" data-map="shambulak">
					<img src="@img/dev/logo-resort-shambulak.svg" width="" height="" alt="" loading="lazy">
				</a>
			</div>
			<div class="swiper-slide">
				<a href="javascript:void(0)" class="js-resort" data-map="shahdag">
					<img src="@img/dev/logo-resort-shahdag.svg" width="" height="" alt="" loading="lazy">
				</a>
			</div>
			<div class="swiper-slide">
				<a href="javascript:void(0)" class="js-resort" data-map="qaragai">
					<img src="@img/dev/logo-resort-oi-qaragai.svg" width="" height="" alt="" loading="lazy">
				</a>
			</div>
		</div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</div>
