<div class="timeline bg-gray-blue scrollblock scroll-x js-scroll-x js-draggable">


	<div class="timeline__wrapper">
		<div class="timeline__list">
			<div class="t-item" data-year="2023">
				<div class="t-item__top">

					<div class="t-item__col-1">
						<div class="t-item__img">
							<img src="@img/dev/alliance/timeline/img-1.jpg" width="220" height="140" alt="" loading="lazy">
						</div>
					</div>

					<div class="t-item__col-1">
						<div class="t-item__header">Подписание меморандума</div>
						<div class="t-item__date">8 июня</div>
						<div class="t-item__text">Руководители трёх горных курортов&nbsp;&mdash; <b>&laquo;Роза Хутор&raquo;, &laquo;Шымбулак&raquo; и&nbsp;&laquo;Амирсой&raquo;</b> подписали меморандум о&nbsp;намерении создания евразийского Альянса горных курортов.</div>
					</div>

					<div class="t-item__col-2">
						<div class="t-item__img">
							<img src="@img/dev/alliance/timeline/img-4.jpg" width="460" height="290" alt="" loading="lazy">
						</div>
					</div>
				</div>



				<div class="t-item__bottom">
					<div class="t-item__col-1">
						<div class="t-item__header">Открытие стенда евразийского альянса</div>
						<div class="t-item__date">8–9 июня</div>
						<div class="t-item__text">На&nbsp;выставке &laquo;Евразия&nbsp;&mdash; наш дом&raquo; федеральная территория &laquo;Сириус&raquo;</div>
					</div>

					<div class="t-item__col-1">
						<div class="t-item__img">
							<img src="@img/dev/alliance/timeline/img-2.jpg" width="220" height="140" alt="" loading="lazy">
						</div>
					</div>

					<div class="t-item__col-1">
						<div class="t-item__header">Круглый стол стран-участниц</div>
						<div class="t-item__date">9 сентября</div>
						<div class="t-item__text">FTT-2023: форум туристических территорий в&nbsp;Сочи</div>
						<div class="t-item__img">
							<img src="@img/dev/alliance/timeline/img-3.jpg" width="220" height="140" alt="" loading="lazy">
						</div>
					</div>

					<div class="t-item__col-1">
						<div class="t-item__header">Расширение альянса</div>
						<div class="t-item__date">15 октября</div>
						<div class="t-item__text"><b>Горный курорт &laquo;Шахдаг&raquo; в&nbsp;Азербайджане присоединился к&nbsp;Евразийскому альянсу горных курортов.</b></div>
					</div>
				</div>

			</div>

			<div class="t-item" data-year="2024">
				<div class="t-item__top">

					<div class="t-item__col-1">
						<div class="t-item__header">Фестиваль <br>горных курортов</div>
						<div class="t-item__date">13-17 марта</div>
						<div class="t-item__text"><b>Первый международный фестиваль горных курортов Евразии</b> прошел на&nbsp;курорте &laquo;Роза Хутор&raquo; в&nbsp;марте 2024&nbsp;года. В&nbsp;рамках программы мероприятий Евразийского альянса горных курортов.</div>
					</div>

					<div class="t-item__col-3 _bottom">
						<div class="t-item__img">
							<img src="@img/dev/alliance/timeline/img-5.jpg" width="340" height="220" alt="" loading="lazy">
						</div>
					</div>

					<div class="t-item__col-1">
						<div class="t-item__header"></div>
						<div class="t-item__date">13 марта</div>
						<div class="t-item__text">Дискуссионная сессия деловой программы на&nbsp;тему <b>&laquo;Устойчивое развитие туризма на&nbsp;особо охраняемых территориях (ООПТ)&raquo;</b>.</div>
					</div>

					<div class="t-item__col-2">
						<div class="t-item__img">
							<img src="@img/dev/alliance/timeline/img-6.jpg" width="460" height="295" alt="" loading="lazy">
						</div>
					</div>

					<div class="t-item__col-1">
						<div class="t-item__header"></div>
						<div class="t-item__date">9 сентября</div>
						<div class="t-item__text">В&nbsp;рамках саммита была подписана <b>Хартия организации</b>&nbsp;&mdash; свод основополагающих принципов, целей и&nbsp;задач ЕАГК. Важнейшими принципами деятельности альянса в&nbsp;Хартии закреплены его политический нейтралитет, внеблоковый статус и&nbsp;независимость решений.</div>
					</div>

				</div>




				<div class="t-item__bottom">

					<div class="t-item__col-2 _bottom">
						<div class="t-item__img">
							<img src="@img/dev/alliance/timeline/img-7.jpg" width="460" height="295" alt="" loading="lazy">
						</div>
					</div>

					<div class="t-item__col-1">
						<div class="t-item__img">
							<img src="@img/dev/alliance/timeline/img-8.jpg" width="220" height="140" alt="" loading="lazy">
						</div>
						<br>
						<div class="t-item__text">Для решения вопросов подготовки кадров в&nbsp;рамках Альянса прорабатывается вопрос создания <b>корпоративного университета ЕАГК</b>.</div>
					</div>

					<div class="t-item__col-1">
						<div class="t-item__header">Ежегодный саммит альянса горных курортов</div>
						<div class="t-item__date">8–10 сентября</div>
						<div class="t-item__text">В&nbsp;Алматы прошел <b>Саммит руководителей Евразийского Альянса горных курортов</b>, где основное внимание было сосредоточено на&nbsp;перспективах создания горных кластеров.</div>
					</div>

					<div class="t-item__col-3">
						<div class="t-item__img">
							<img src="@img/dev/alliance/timeline/img-9.jpg" width="460" height="295" alt="" loading="lazy">
						</div>
					</div>

					<div class="t-item__col-1">
						<div class="t-item__text">Руководители горных курортов, входящих в&nbsp;Евразийский альянс, подписали в&nbsp;ходе саммита меморандум с&nbsp;крупнейшим южнокорейским горным курортом <b>Mona YongPyong</b> о&nbsp;намерении присоединиться к&nbsp;ЕАГК. <b>Таким образом, альянс выходит за&nbsp;рамки сотрудничества внутри стран СНГ.</b></div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
</div>

</div>