<div class="bg-secondary">
	<div class="content overflow-hidden">
		<div class="press" id="press">
			<div class="h1">Пресс-центр</div>

			<div class="swiper swiper-press">
				<div class="press__list swiper-wrapper">

					<div class="press__item swiper-slide">
						<div class="press__img">
							<img src="@img/dev/press-img-1.jpg" width="341" height="232" alt="FOOD STREET WEEKEND" loading="lazy">
						</div>
						<div class="press__body">
							<div class="press__date">5—11 Апреля</div>
							<div class="press__header">FOOD STREET WEEKEND</div>
							<div class="press__link">
								<a href="/" class="link-more" rel="nofollow" target="_blank">Читать в источнике</a>
							</div>
						</div>
					</div>

					<div class="press__item swiper-slide">
						<div class="press__img">
							<img src="@img/dev/press-img-2.jpg" width="341" height="232" alt="FOOD STREET WEEKEND" loading="lazy">
						</div>
						<div class="press__body">
							<div class="press__date">5—11 Апреля</div>
							<div class="press__header">FOOD STREET WEEKEND</div>
							<div class="press__link">
								<a href="/" class="link-more" rel="nofollow" target="_blank">Читать в источнике</a>
							</div>
						</div>
					</div>

					<div class="press__item swiper-slide">
						<div class="press__img">
							<img src="@img/dev/press-img-3.jpg" width="341" height="232" alt="FOOD STREET WEEKEND" loading="lazy">
						</div>
						<div class="press__body">
							<div class="press__date">5—11 Апреля</div>
							<div class="press__header">FOOD STREET WEEKEND</div>
							<div class="press__link">
								<a href="/" class="link-more" rel="nofollow" target="_blank">Читать в источнике</a>
							</div>
						</div>
					</div>

					<div class="press__item swiper-slide">
						<div class="press__img">
							<img src="@img/dev/press-img-4.jpg" width="341" height="232" alt="FOOD STREET WEEKEND" loading="lazy">
						</div>
						<div class="press__body">
							<div class="press__date">5—11 Апреля</div>
							<div class="press__header">Lorem, ipsum dolor sit amet consectetur adipisicing elit</div>
							<div class="press__link">
								<a href="/" class="link-more" rel="nofollow" target="_blank">Читать в источнике</a>
							</div>
						</div>
					</div>











					<div class="press__item swiper-slide">
						<div class="press__img">
							<img src="@img/dev/press-img-1.jpg" width="341" height="232" alt="FOOD STREET WEEKEND" loading="lazy">
						</div>
						<div class="press__body">
							<div class="press__date">5—11 Апреля</div>
							<div class="press__header">FOOD STREET WEEKEND</div>
							<div class="press__link">
								<a href="/" class="link-more" rel="nofollow" target="_blank">Читать в источнике</a>
							</div>
						</div>
					</div>

					<div class="press__item swiper-slide">
						<div class="press__img">
							<img src="@img/dev/press-img-2.jpg" width="341" height="232" alt="FOOD STREET WEEKEND" loading="lazy">
						</div>
						<div class="press__body">
							<div class="press__date">5—11 Апреля</div>
							<div class="press__header">FOOD STREET WEEKEND</div>
							<div class="press__link">
								<a href="/" class="link-more" rel="nofollow" target="_blank">Читать в источнике</a>
							</div>
						</div>
					</div>

					<div class="press__item swiper-slide">
						<div class="press__img">
							<img src="@img/dev/press-img-3.jpg" width="341" height="232" alt="FOOD STREET WEEKEND" loading="lazy">
						</div>
						<div class="press__body">
							<div class="press__date">5—11 Апреля</div>
							<div class="press__header">FOOD STREET WEEKEND</div>
							<div class="press__link">
								<a href="/" class="link-more" rel="nofollow" target="_blank">Читать в источнике</a>
							</div>
						</div>
					</div>

				</div>
				<div class="swiper-pagination"></div>
			</div>

			<div class="press__button">
				<a href="javascript:void(0)" class="btn btn_white">Все публикации</a>
			</div>

		</div>
	</div>
</div>