<div class="content">
	<div class="block-text row">
		<div class="col-md-4 h1">Цели и задачи <br>альянса</div>
		<div class="col-md-8 col-lg-6">
			<div class="block-text__head">
				Альянс горных курортов&nbsp;&mdash; это основа для стратегического развития туризма на&nbsp;Евразийском пространстве, совместного развития, профессионального общения, продвижения лучших практик и&nbsp;брендов горных курортов&nbsp;&mdash; лидеров отрасли.
			</div>
			<div class="block-text__body">
				Альянс поможет укрепить дружественные связи, добрососедство и&nbsp;создаст единую платформу для сохранения природного и&nbsp;культурного наследия стран-участниц. Обмен опытом между ведущими курортами выведет на&nbsp;новый уровень туристическую отрасль региона.
			</div>
		</div>
	</div>
</div>