<div class="bg-secondary overflow-hidden">
	<div class="content">
		<div class="block-main">
			@@include('block-swiper-resorts.html', {})

			<div class="block-main__wrapper">
				<div class="block-main__left">
					<div class="block-main__description description">
						<div class="description__common" data-resort="common">
							<strong>Евразийский Альянс горных курортов</strong> содействует развитию горных курортов на основе сотрудничества, обмена необходимой информацией и передовым опытом
						</div>
						<div class="description__resort resort-short" data-resort="rosa">
							<div class="resort-short__name">Курорт Роза Хутор</div>
							<div class="resort-short__geo">
								<div class="flag flag_ru"></div>Россия, Сочи
							</div>
							<div class="resort-short__title">Учредитель Евразийского Альянса горных курортов, член Альянса с июня 2023 г.</div>
							<div class="resort-short__about">Круглогодичный горный курорт, расположен в 45 километрах от побережья Чёрного моря на склоне хребта Аибга, протянувшегося к югу от Главного Кавказского хребта между долинами рек Мзымта и Псоу.</div>
						</div>

						<div class="description__resort resort-short" data-resort="amirsoy">
							<div class="resort-short__name">Курорт Амирсой</div>
							<div class="resort-short__geo">
								<div class="flag flag_uz"></div>Узбекистан, Ташкент
							</div>
							<div class="resort-short__title">Горный курорт «Амирсой» расположен на территории площадью 900 гектаров.</div>
							<div class="resort-short__about">Он находится в одном из красивейших и живописных мест, на отрогах Чаткальского хребта западной части Тянь-Шаньских гор, всего в 65 километрах от Ташкента.</div>
						</div>

						<div class="description__resort resort-short" data-resort="shymbulak">
							<div class="resort-short__name">Курорт Шымбулак</div>
							<div class="resort-short__geo">
								<div class="flag flag_kz"></div>Казахстан, Алматы
							</div>
							<div class="resort-short__title">«Шымбулак» — популярный круглогодичный горный курорт в Алматы.</div>
							<div class="resort-short__about">Расположен в живописном ущелье Заилийского Алатау на высоте 2260 метров над уровнем моря, в 20 минутах от центра города. Курорт функционирует с 1954 года с началом первых всесоюзных соревнований по горнолыжному спорту.</div>
						</div>

						<div class="description__resort resort-short" data-resort="shahdag">
							<div class="resort-short__name">Курорт Шахдаг</div>
							<div class="resort-short__geo">
								<div class="flag flag_az"></div>Азербайджан, Гусар
							</div>
							<div class="resort-short__title">Туристический центр «Шахдаг» назван в честь величественной горы высотой 4243 метра.</div>
							<div class="resort-short__about">«Шахдаг» расположен рядом с национальным парком и является первым горным курортом Азербайджана, предлагая широкий спектр зимних и летних видов спорта.</div>
						</div>

						<div class="description__resort resort-short" data-resort="qaragai">
							<div class="resort-short__name">Курорт Ой-Карагай</div>
							<div class="resort-short__geo">
								<div class="flag flag_kz"></div>Казахстан, Алматы
							</div>
							<div class="resort-short__title">«Ой-Карагай» — это всесезонный семейный и горный курорт в Алматы.</div>
							<div class="resort-short__about">Курорт с заботливым сервисом, евразийской культурой и комфортабельными условиями проживания, где есть много разных возможностей для досуга и развлечений, которые придутся по душе каждому.</div>
						</div>

						<div class="description__resort resort-short" data-resort="yongpyong">
							<div class="resort-short__name">Курорт Ёнпхён</div>
							<div class="resort-short__geo">
								<div class="flag flag_sk"></div>Республика Корея, Сеул
							</div>
							<div class="resort-short__title">Курорт YongPyong расположен на высоте 700 метров над уровнем моря на восточной окраине Азии.</div>
							<div class="resort-short__about">Он находится примерно в 200 км от Сеула, столицы Республики Кореи. Восхитительная природа, комфортабельное размещение, разнообразные горнолыжные трассы.</div>
						</div>

					</div>
					<div class="block-main__events events">
						<div class="events__left">
							<div class="calendar"></div>
						</div>
						<div class="events__right">
							<div class="events__list scrollblock scroll-y">
								<div class="event">
									<div class="event__date">01.08–03.08</div>
									<div class="event__flag">
										<div class="flag flag_ru"></div>
									</div>
									<div class="event__name"><a href="javascript:void(0)">New Star Camp</a></div>
								</div>
								<div class="event">
									<div class="event__date">10.08</div>
									<div class="event__flag">
										<div class="flag flag_uz"></div>
									</div>
									<div class="event__name"><a href="javascript:void(0)">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
								</div>
								<div class="event">
									<div class="event__date">12.08</div>
									<div class="event__flag">
										<div class="flag flag_kz"></div>
									</div>
									<div class="event__name"><a href="javascript:void(0)">New Star Camp</a></div>
								</div>
								<div class="event">
									<div class="event__date">15.08</div>
									<div class="event__flag">
										<div class="flag flag_az"></div>
									</div>
									<div class="event__name"><a href="javascript:void(0)">New Star Camp</a></div>
								</div>
								<div class="event">
									<div class="event__date">31.08</div>
									<div class="event__flag">
										<div class="flag flag_az"></div>
									</div>
									<div class="event__name"><a href="javascript:void(0)">New Star Camp</a></div>
								</div>
							</div>
							<div class="events__button center-to-md">
								<a href="javascript:void(0)" class="btn btn_blue">Посмотреть события</a>
							</div>
						</div>
					</div>
				</div>
				<div class="block-main__right">
					<div class="block-main__globe" data-da=".block-main__left,767,1">
						@@include('../../img/globe.svg', {})
					</div>
				</div>
			</div>

		</div>

	</div>
</div>