<div class="inner-swiper-resorts overflow-hidden">
	<div class="content">
		<div class="swiper-resorts">
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="javascript:void(0)" aria-label="Роза Хутор" class="is-active">
							<svg>
								<use xlink:href="#logo-rosa"></use>
							</svg>
							<svg>
								<use xlink:href="#logo-rosa-color"></use>
							</svg>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="javascript:void(0)" aria-label="Амирсой">
							<svg>
								<use xlink:href="#logo-amirsoy"></use>
							</svg>
							<svg>
								<use xlink:href="#logo-amirsoy-color"></use>
							</svg>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="javascript:void(0)" aria-label="Шымбулак">
							<svg>
								<use xlink:href="#logo-shymbulak"></use>
							</svg>
							<svg>
								<use xlink:href="#logo-shymbulak-color"></use>
							</svg>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="javascript:void(0)" aria-label="Шахдаг">
							<svg>
								<use xlink:href="#logo-shahdag"></use>
							</svg>
							<svg>
								<use xlink:href="#logo-shahdag-color"></use>
							</svg>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="javascript:void(0)" aria-label="Ой Карагай">
							<svg>
								<use xlink:href="#logo-oi-qaragai"></use>
							</svg>
							<svg>
								<use xlink:href="#logo-oi-qaragai-color"></use>
							</svg>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="javascript:void(0)" aria-label="Ёнпхён">
							<svg>
								<use xlink:href="#logo-yongpyong"></use>
							</svg>
							<svg>
								<use xlink:href="#logo-yongpyong-color"></use>
							</svg>
						</a>
					</div>
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>
</div>