<div class="content">
	<div class="block-text row">
		<div class="col-md-4 h1">Единый стандарт сервисов курортов</div>
		<div class="col-md-8 col-lg-6">
			<div class="block-text__body">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quae officia quod suscipit earum. Nisi, consectetur sapiente in aspernatur, iure beatae sunt provident repellat minus alias temporibus! Ratione, similique. Atque illo mollitia praesentium nam facere numquam similique perferendis ipsam. Dolore eligendi consequatur quibusdam minima error, laborum voluptatibus repudiandae aliquid porro vel aut ipsa commodi libero? Repellendus hic pariatur facilis earum repellat! Adipisci officia nesciunt quae illo labore sequi minima veniam, aperiam vel dignissimos reprehenderit ducimus modi asperiores veritatis recusandae. Repellat mollitia atque provident omnis quasi, nisi commodi debitis quas, consequuntur dolore at odit ratione excepturi illum odio eos molestiae repudiandae.
			</div>
		</div>
	</div>
</div>