<div class="wide-image bg-gray-blue-light">
	<div class="swiper-alliance">
		<div class="swiper">
			<div class="swiper-wrapper">

				<div class="swiper-slide">
					<div class="content">
						<div class="swiper-alliance__logo _logo-rosa">
							<svg>
								<use xlink:href="#map-pointer"></use>
							</svg>
							<svg>
								<use xlink:href="#logo-rosa-color"></use>
							</svg>
						</div>
					</div>
					<img src="@img/dev/alliance/alliance-swiper-rosa.jpg" width="1660" height="617" alt="" loading="lazy">
				</div>

				<div class="swiper-slide">
					<div class="content">
						<div class="swiper-alliance__logo _logo-amirsoy">
							<svg>
								<use xlink:href="#map-pointer"></use>
							</svg>
							<svg>
								<use xlink:href="#logo-amirsoy-color"></use>
							</svg>
						</div>
					</div>
					<img src="@img/dev/alliance/alliance-swiper-amirsoy.jpg" width="1660" height="617" alt="" loading="lazy">
				</div>

				<div class="swiper-slide">
					<div class="content">
						<div class="swiper-alliance__logo _logo-shymbulak">
							<svg>
								<use xlink:href="#map-pointer"></use>
							</svg>
							<svg>
								<use xlink:href="#logo-shymbulak-color"></use>
							</svg>
						</div>
					</div>
					<img src="@img/dev/alliance/alliance-swiper-shymbulak.jpg" width="1660" height="617" alt="" loading="lazy">
				</div>

				<div class="swiper-slide">
					<div class="content">
						<div class="swiper-alliance__logo _logo-shahdag">
							<svg>
								<use xlink:href="#map-pointer"></use>
							</svg>
							<svg>
								<use xlink:href="#logo-shahdag-color"></use>
							</svg>
						</div>
					</div>
					<img src="@img/dev/alliance/alliance-swiper-shahdag.jpg" width="1660" height="617" alt="" loading="lazy">
				</div>

				<div class="swiper-slide">
					<div class="content">
						<div class="swiper-alliance__logo _logo-oi-qaragai">
							<svg>
								<use xlink:href="#map-pointer"></use>
							</svg>
							<svg>
								<use xlink:href="#logo-oi-qaragai-color"></use>
							</svg>
						</div>
					</div>
					<img src="@img/dev/alliance/alliance-swiper-oi-qaragai.jpg" width="1660" height="617" alt="" loading="lazy">
				</div>

				<div class="swiper-slide">
					<div class="content">
						<div class="swiper-alliance__logo _logo-yongpyong">
							<svg>
								<use xlink:href="#map-pointer"></use>
							</svg>
							<svg>
								<use xlink:href="#logo-yongpyong-color"></use>
							</svg>
						</div>
					</div>
					<img src="@img/dev/alliance/alliance-swiper-yongpyong.jpg" width="1660" height="617" alt="" loading="lazy">
				</div>

			</div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</div>