		<div class="swiper-main _nav-right swiper-news">
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="@img/dev/ref-swiper-6.jpg" width="700" height="450" alt="" loading="lazy">
					</div>
					<div class="swiper-slide">
						<img src="@img/dev/ref-swiper-2.jpg" width="700" height="450" alt="" loading="lazy">
					</div>
					<div class="swiper-slide">
						<img src="@img/dev/ref-swiper-1.jpg" width="700" height="450" alt="" loading="lazy">
					</div>
					<div class="swiper-slide">
						<img src="@img/dev/ref-swiper-1.jpg" width="700" height="450" alt="" loading="lazy">
					</div>
					<div class="swiper-slide">
						<img src="@img/dev/ref-swiper-1.jpg" width="700" height="450" alt="" loading="lazy">
					</div>
					<div class="swiper-slide">
						<img src="@img/dev/ref-swiper-1.jpg" width="700" height="450" alt="" loading="lazy">
					</div>
				</div>
			</div>
			<div class="swiper-main__nav">
				<div class="swiper-main__wrapper">
					<div class="swiper-button-prev"></div>
					<div class="swiper-pagination"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>