<div class="bg-secondary overflow-hidden">
	<div class="content">
		<div class="block-main">
			@@include('block-swiper-resorts.html', {})

			<div class="block-main__wrapper">
				<div class="block-main__left">
					<div class="block-main__description description">
						<div class="description__common">
							<strong>Евразийский Альянс горных курортов</strong> содействует развитию горных курортов на основе сотрудничества, обмена необходимой информацией и передовым опытом
						</div>
						<div class="description__resort"></div>
					</div>
					<div class="block-main__events events">
						<div class="events__left"></div>
						<div class="events__right"></div>
					</div>
				</div>
				<div class="block-main__right">
					<div class="block-main__globe">
						@@include('../../img/globe.svg', {})
					</div>
				</div>
			</div>

		</div>


	</div>
</div>