<div class="block-main__events events">
	<div class="events__left">
		<div class="calendar"></div>
	</div>
	<div class="events__right">
		<div class="events__list scrollblock scroll-y">
			<div class="event is-active" data-month="2024-10">
				<div class="event__date">19.10–20.10</div>
				<div class="event__flag">
					<div class="flag flag_ru"></div>
				</div>
				<div class="event__name"><a href="javascript:void(0)">TRAVEL HUB «СОДРУЖЕСТВО»</a></div>
			</div>
			<div class="event is-active" data-month="2024-10">
				<div class="event__date">21.11–23.11</div>
				<div class="event__flag">
					<div class="flag flag_uz"></div>
				</div>
				<div class="event__name"><a href="javascript:void(0)">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
			</div>
			<div class="event is-active" data-month="2024-10">
				<div class="event__date">Март 2025</div>
				<div class="event__flag">
					<div class="flag flag_kz"></div>
				</div>
				<div class="event__name"><a href="javascript:void(0)">New Star Camp</a></div>
			</div>
			<div class="event" data-month="2024-11">
				<div class="event__date">Июль 2025</div>
				<div class="event__flag">
					<div class="flag flag_az"></div>
				</div>
				<div class="event__name"><a href="javascript:void(0)">New Star Camp</a></div>
			</div>
			<div class="event" data-month="2024-12">
				<div class="event__date">Сент. 2025</div>
				<div class="event__flag">
					<div class="flag flag_az"></div>
				</div>
				<div class="event__name"><a href="javascript:void(0)">New Star Camp</a></div>
			</div>
		</div>
		<div class="events__button center-to-md">
			<a href="news-list.html" class="btn btn_blue">Посмотреть события</a>
		</div>
	</div>
</div>