<div class="content">
	<div class="block-text row">
		<div class="col-md-4">
			<img src="@img/logo-university.svg" width="361" height="71" alt="">
		</div>
		<div class="col-md-8 col-lg-6">
			<div class="block-text__head">
				Образовательные курсы корпоративного университета ЕАГК могут быть запущены уже в ближайшем будущем. Одной из первых появится программа по маркетингу, направленная на развитие клиентоцентричности на горных курортах.
			</div>
			<div class="block-text__button center-to-md">
				<a href="alliance.html#education" class="btn btn_blue">Узнать подробнее</a>
			</div>
		</div>
	</div>
</div>