<div class="wide-image bg-gray-blue-light">
	<div class="swiper-alliance">
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="content">
						<div class="swiper-alliance__logo">
							<svg>
								<use xlink:href="#map-pointer"></use>
							</svg>
							<svg>
								<use xlink:href="#logo-rosa"></use>
							</svg>
						</div>
					</div>
					<img src="@img/dev/alliance-swiper-1.jpg" width="1440" height="617" alt="" loading="lazy">
				</div>
				<div class="swiper-slide">
					<div class="content">
						<div class="swiper-alliance__logo">
							<svg>
								<use xlink:href="#map-pointer"></use>
							</svg>
							<svg>
								<use xlink:href="#logo-rosa"></use>
							</svg>
						</div>
					</div>
					<img src="@img/dev/alliance-swiper-1.jpg" width="1440" height="617" alt="" loading="lazy">
				</div>
			</div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</div>