<div class="content">
	<div class="news-item row">
		<div class="col-lg-9 news-item__wrapper">
			<div class="news-item__parent">
				<a href="news-list.html">Новости и события</a>
			</div>
			<h1 class="news-item__header">Lorem ipsum dolor sit amet.</h1>
			<div class="news-item__subheader">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur voluptates fugiat est quisquam eligendi, praesentium at, illum quas earum eos magnam molestiae rem iusto ab similique, ad ipsa voluptatum nisi sequi non recusandae alias. Omnis est, repudiandae ullam voluptatem sunt voluptate explicabo temporibus ad? Mollitia porro dolores animi aliquam quo?</div>
			<div class="news-item__body">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A cum voluptatem quos officiis? Dolor, sed delectus facere voluptatum explicabo expedita architecto cum molestiae, aperiam ipsam laudantium labore minus quo atque!</p>
				<h3>Подзаголовок h3</h3>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste in enim, sit unde, blanditiis harum ab ratione earum tenetur est eos necessitatibus error magnam? Numquam, obcaecati. Quae beatae voluptates facere accusantium consequatur nisi quo blanditiis. Corrupti sequi, doloribus cupiditate numquam ut nemo modi optio. Corporis quasi dolore dolorum voluptas! Nesciunt quia reiciendis porro est voluptatum, sint molestiae cum? Debitis ab, voluptatum ut neque, sed dolor architecto nobis id tempora quia totam culpa facilis iusto autem eos minus aut rerum reiciendis.</p>
			</div>

			<div class="news-quote">
				Евразийский Альянс горных курортов создан с целью содействия поступательному развитию горных курортов на основе сотрудничества, обмена необходимой информацией и передовым опытом, совместного повышения профессиональной квалификации работников.
				<br>
				<br>
				<b>Александр Белокобыльский,</b>
				генеральный директор курорта «Роза Хутор»
			</div>

			<div class="news-item__date">
				11 Апреля 2024
			</div>

			<div class="news-item__button">
				<a href="javascript:void(0)" class="btn btn_blue">Показать пресс-релиз</a>
			</div>


		</div>
		<div class="col-lg-3 news-item__aside bg-gray-light bg-full-vertical">
			<div class="news-item__other-header">Другие публикации</div>
			<div class="news-item__other-list">
				<div class="news-card">
					<div class="news-card__img">
						<picture>
							<source srcset="img/dev/press-img-1.webp" type="image/webp"><img src="img/dev/press-img-1.jpg" width="341" height="232" alt="FOOD STREET WEEKEND" loading="lazy">
						</picture>
					</div>
					<div class="news-card__body">
						<div class="news-card__date">5—11 Апреля</div>
						<div class="news-card__header">FOOD STREET WEEKEND</div>
						<div class="news-card__bottom">
							<a href="/" class="news-card__link">ЕАГК</a>
							<div class="news-card__flag flag flag_eagk"></div>
						</div>
					</div>
				</div>

				<div class="news-card">
					<div class="news-card__img">
						<picture>
							<source srcset="img/dev/press-img-1.webp" type="image/webp"><img src="img/dev/press-img-1.jpg" width="341" height="232" alt="FOOD STREET WEEKEND" loading="lazy">
						</picture>
					</div>
					<div class="news-card__body">
						<div class="news-card__date">5—11 Апреля</div>
						<div class="news-card__header">FOOD STREET WEEKEND</div>
						<div class="news-card__bottom">
							<a href="/" class="news-card__link">Россия, Роза Хутор</a>
							<div class="news-card__flag flag flag_ru"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>