<div class="row">
	<div class="swiper-reference swiper-reference_bottom offset-lg-4">
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="@img/dev/ref-swiper-3.jpg" width="700" height="450" alt="" loading="lazy">
				</div>
				<div class="swiper-slide">
					<img src="@img/dev/ref-swiper-4.jpg" width="700" height="450" alt="" loading="lazy">
				</div>
				<div class="swiper-slide">
					<img src="@img/dev/ref-swiper-5.jpg" width="700" height="450" alt="" loading="lazy">
				</div>
			</div>
		</div>
		<div class="swiper-reference__nav col-lg-5 offset-lg-4">
			<div class="swiper-reference__wrapper">
				<div class="swiper-button-prev"></div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>
</div>