<div class="content flex-column">
	<div class="row flex-column">
		<div class="col-lg-8 reference reference_green reference_left">
			<div class="reference__head h1">Экологический стандарт</div>
			<div class="reference__body">Цель Альянса&nbsp;&mdash; поддержка экологически ответственного туризма и&nbsp;охраны природных ресурсов региона. Альянс способствует развитию горного туризма в&nbsp;странах Евразии с&nbsp;акцентом на&nbsp;экологическую и&nbsp;социальную ответственность, поддерживая баланс между экономическим ростом и&nbsp;сохранением природных ресурсов.</div>
		</div>
		<div class="col-lg-3 ref-logo">
			<img src="@img/logo-eco.svg" width="300" height="103" alt="" loading="lazy">
		</div>
	</div>
	@@include('block-reference-swiper-2.html', {})
</div>