<div class="inner-swiper-resorts overflow-hidden">
	<div class="content">
		<div class="swiper-resorts">
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="javascript:void(0)" class="is-active">
							<svg>
								<use xlink:href="#logo-rosa"></use>
							</svg>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="javascript:void(0)">
							<svg>
								<use xlink:href="#logo-amirsoy"></use>
							</svg>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="javascript:void(0)">
							<svg>
								<use xlink:href="#logo-shambulak"></use>
							</svg>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="javascript:void(0)">
							<svg>
								<use xlink:href="#logo-shahdag"></use>
							</svg>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="javascript:void(0)">
							<svg>
								<use xlink:href="#logo-oi-qaragai"></use>
							</svg>
						</a>
					</div>
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>
</div>