<div class="swiper-resorts">
	<div class="swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<a href="javascript:void(0)" class="js-resort" data-resort="rosa" aria-label="Роза Хутор">
					<svg>
						<use xlink:href="#logo-rosa"></use>
					</svg>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="javascript:void(0)" class="js-resort" data-resort="amirsoy" aria-label="Амирсой">
					<svg>
						<use xlink:href="#logo-amirsoy"></use>
					</svg>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="javascript:void(0)" class="js-resort" data-resort="shymbulak" aria-label="Шымбулак">
					<svg>
						<use xlink:href="#logo-shymbulak"></use>
					</svg>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="javascript:void(0)" class="js-resort" data-resort="shahdag" aria-label="Шахдаг">
					<svg>
						<use xlink:href="#logo-shahdag"></use>
					</svg>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="javascript:void(0)" class="js-resort" data-resort="qaragai" aria-label="Ой Карагай">
					<svg>
						<use xlink:href="#logo-oi-qaragai"></use>
					</svg>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="javascript:void(0)" class="js-resort" data-resort="yongpyong" aria-label="Ёнпхён">
					<svg>
						<use xlink:href="#logo-yongpyong"></use>
					</svg>
				</a>
			</div>
		</div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</div>