<div class="content">
	<div class="quotes swiper swiper-quotes">
		<div class="swiper-wrapper">

			<div class="swiper-slide">
				<div class="quote row">
					<div class="quote__author col-md-4">
						<div class="quote__person">
							<div class="quote__name">
								Александр Белокобыльский
							</div>
							<div class="quote__position">
								генеральный директор курорта &laquo;Роза Хутор&raquo;
							</div>
						</div>
						<div class="quote__photo">
							<img src="@img/dev/quote-person-1.jpg" width="150" height="150" alt="" loading="lazy">
						</div>
					</div>
					<div class="quote__quote col-md-8 col-lg-6">
						Евразийский Альянс горных курортов создан с целью содействия поступательному развитию горных курортов на основе сотрудничества, обмена необходимой информацией и передовым опытом, совместного повышения профессиональной квалификации работников.
					</div>
					<div class="col-lg-2 visible-lg">
						<div class="quote__logo">
							<span>Курорт</span>
							<svg>
								<use xlink:href="#logo-rose"></use>
							</svg>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="quote row">
					<div class="quote__author col-md-4">
						<div class="quote__person">
							<div class="quote__name">
								Саидвали Саидходжаев
							</div>
							<div class="quote__position">
								генеральный директор горного курорта &laquo;Амирсой&raquo;
							</div>
						</div>
						<div class="quote__photo">
							<img src="@img/dev/quote-person-2.jpg" width="150" height="150" alt="" loading="lazy">
						</div>
					</div>
					<div class="quote__quote col-md-8 col-lg-6">
						Наша общая цель — повысить качество и конкурентоспособность, вывести культуру туризма на новый уровень. Вступление в наш союз нового участника, лучшего горного курорта Азербайджана — «Шахдаг», станет ярким дополнением межгосударственного туристического маршрута, разрабатываемого Альянсом.
					</div>
					<div class="col-lg-2 visible-lg">
						<div class="quote__logo">
							<span>Курорт</span>
							<svg>
								<use xlink:href="#logo-amirsoy"></use>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>