<div class="content edu-logo-mobile">
	@@include('block-reference-swiper-3.html', {})
	<div class="row">
		<!-- <div class="col-lg-8 offset-lg-4 ref-logo ref-logo_visible ref-logo_pl"> -->
		<div class="col-lg-3 offset-lg-9 ref-logo ref-logo_visible" data-da=".edu-logo-mobile,1023,first">
			<img src="@img/logo-university.svg" width="412" height="81" alt="" loading="lazy">
		</div>
		<div class="col-lg-8 offset-lg-4 reference reference_blue reference_right">
			<div class="reference__head h1">Обучение и поддержка</div>
			<div class="reference__body">Чтобы поддерживать высокие стандарты сервисов горнолыжных курортов, необходима подготовка кадров, поэтому в рамках евразийского альянса горных курортов, мы считаем необходимым создание корпоративного университета.</div>
		</div>
		
		<div class="block-text row">
			<div class="col-lg-6 offset-lg-4">
				<div class="block-text__body">
					Основными направлениями деятельности корпоративного университета Евразийского Альянса горных курортов является формирование профессиональных стандартов и требований к сервисам и персоналу, кадровый ассессмент и процессный  аудит, обмен лучшими практиками, реализация образовательных программ различных форматов  и назначения вплоть до подготовки линейного персонала. Также в университете будут проводиться научные исследования, включающие сбор статистических данных в индустрии горного туризма.
				</div>
			</div>
		</div>
	</div>
</div>