<div class="content flex-1 bg-gray-light bg-full">
	<div class="news-list">
		<div class="news-list__header">
			Новости и события<br><b>круглый год!</b>
		</div>
		<div class="news-list__filter">
			<a href="/press/" class="is-active">Все публикации</a>
			<a href="/press/news/">Новости</a>
			<a href="/press/events/">События курортов</a>
			<a href="/press/archive/">Архив публикаций</a>
		</div>
		<div class="news-list__items">
			<div class="news-card">
				<a href="/" class="news-card__link">
					<div class="news-card__img">
						<div class="news-card__note">Открыть в источнике</div>
						<img src="@img/dev/alliance-swiper-2.jpg" width="340" height="232" alt="FOOD STREET WEEKEND" loading="lazy">
					</div>
					<div class="news-card__body">
						<div class="news-card__date">10 августа 2024</div>
						<div class="news-card__header">FOOD STREET WEEKEND</div>
						<div class="news-card__bottom">
							<div class="news-card__location">Россия, Роза Хутор</div>
							<div class="news-card__flag flag flag_ru"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="news-card">
				<a href="/" class="news-card__link">
					<div class="news-card__img">
						<div class="news-card__note">Открыть новость</div>
						<img src="@img/dev/press-img-2.jpg" width="340" height="232" alt="FOOD STREET WEEKEND" loading="lazy">
					</div>
					<div class="news-card__body">
						<div class="news-card__date">5—11 Апреля</div>
						<div class="news-card__header">FOOD STREET WEEKEND</div>
						<div class="news-card__bottom">
							<div class="news-card__location">ЕАГК</div>
							<div class="news-card__flag flag flag_eagk"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="news-card">
				<a href="/" class="news-card__link">
					<div class="news-card__img">
						<div class="news-card__note">Открыть в источнике</div>
						<img src="@img/dev/alliance-swiper-1.jpg" width="340" height="232" alt="FOOD STREET WEEKEND" loading="lazy">
					</div>
					<div class="news-card__body">
						<div class="news-card__date">5—11 мая 2024</div>
						<div class="news-card__header">FOOD STREET WEEKEND</div>
						<div class="news-card__bottom">
							<div class="news-card__location">Казахстан, Шымбулак</div>
							<div class="news-card__flag flag flag_kz"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="news-card">
				<a href="/" class="news-card__link">
					<div class="news-card__img">
						<div class="news-card__note">Открыть в источнике</div>
						<img src="@img/dev/ref-swiper-5.jpg" width="340" height="232" alt="FOOD STREET WEEKEND" loading="lazy">
					</div>
					<div class="news-card__body">
						<div class="news-card__date">5—11 Апреля</div>
						<div class="news-card__header">FOOD STREET WEEKEND</div>
						<div class="news-card__bottom">
							<div class="news-card__location">ЕАГК</div>
							<div class="news-card__flag flag flag_uz"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="news-card">
				<a href="/" class="news-card__link">
					<div class="news-card__img">
						<div class="news-card__note">Открыть в источнике</div>
						<img src="@img/dev/ref-swiper-3.jpg" width="340" height="232" alt="FOOD STREET WEEKEND" loading="lazy">
					</div>
					<div class="news-card__body">
						<div class="news-card__date">5—11 Апреля</div>
						<div class="news-card__header">FOOD STREET WEEKEND</div>
						<div class="news-card__bottom">
							<div class="news-card__location">ЕАГК</div>
							<div class="news-card__flag flag flag_az"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="news-card">
				<a href="/" class="news-card__link">
					<div class="news-card__img">
						<div class="news-card__note">Открыть новость</div>
						<img src="@img/dev/press-img-3.jpg" width="340" height="232" alt="FOOD STREET WEEKEND" loading="lazy">
					</div>
					<div class="news-card__body">
						<div class="news-card__date">5—11 Апреля</div>
						<div class="news-card__header">FOOD STREET WEEKEND</div>
						<div class="news-card__bottom">
							<div class="news-card__location">ЕАГК</div>
							<div class="news-card__flag flag flag_eagk"></div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="load-more-wrap">
			<button class="btn btn_blue js-load-more" data-target="news-list__items" data-url="/ajax/loadmore-press.php?PAGEN_1=2">Показать ещё</button>
		</div>
	</div>
</div>