<div class="content">
	<div class="block-text row">
		<div class="col-md-4 h1">Все горы <b>в гости к нам!</b></div>
		<div class="col-md-8 col-lg-6">
			<div class="block-text__head">
				Миссия Евразийского Альянса Горных Курортов — способствовать стратегическому развитию туризма на Евразийском пространстве, профессиональному общению и продвижению лучших практик и брендов горных курортов — лидеров отрасли. Альянс сохраняет и приветствует открытость для присоединения горных курортов всех государств Евразийского континента.
			</div>
		</div>
	</div>
</div>