<header class="header">
	<div class="content">
		<div class="header__wrapper">

			<div class="header__logo">
				<a href="/" aria-label="Главная страница">
					<svg>
						<use xlink:href="#logo"></use>
					</svg>
				</a>
			</div>

			<div class="header__nav">
				@@include('nav.html', {})
			</div>

			<div class="header__lang">
				<ul class="lang-nav">
					<li class="lang-nav__item flag flag_ru dropdown dropdown_hover"><span class="lang-nav__text">РУС</span>
						<div class="lang-nav__dropdown">
							<a href="#" class="lang-nav__link flag flag_ru is-active">РУС</a>
							<a href="#" class="lang-nav__link flag flag_en">ENG</a>
							<a href="#" class="lang-nav__link flag flag_az">AZ</a>
						</div>
					</li>
				</ul>
			</div>

		</div>
	</div>
</header>