<nav class="nav" role="navigation">
	<input id="menu-toggle" class="menu-toggle" type="checkbox" />
	<label class="hamburger-box" for="menu-toggle">
		<div class="hamburger-inner"></div>
	</label>
	<div class="menu-wrapper">
		<ul class="nav__list">
			<li class="nav__item"><a href="alliance.html" class="nav__link @@alliance">Альянс</a></li>
			<li class="nav__item"><a href="about-rosa.html" class="nav__link @@resorts">Курорты</a></li>
			<li class="nav__item"><a href="news-list.html" class="nav__link @@press">Пресс-центр</a></li>
		</ul>
	</div>
</nav>
