<div class="content">
	<div class="notice">
		<div class="notice__preview notice-p is-active">
			<div class="notice-p__date">13–17.08 2024</div>
			<div class="notice-p__name">Фестиваль горных курортов Евразии</div>
			<div class="notice-p__place">Роза Хутор, Сочи, Россия</div>
			<div class="notice-p__unfold">
				<button class="dropdown js-notice-fold">Развернуть</button>
			</div>
		</div>
		<div class="notice__main notice-m">
			<div class="notice-m__col-1">
				<div class="notice-m__place">
					<div class="flag flag_ru"></div>
					Роза Хутор, Сочи, Россия
				</div>
				<div class="notice-m__date">13–17.08 2024</div>
			</div>
			<div class="notice-m__col-2">
				<div class="notice-m__name">
					<img src="@img/banner-logo.svg" width="313" height="123" alt="" loading="lazy">
				</div>
			</div>
			<div class="notice-m__col-3">
				<div class="notice-m__text">Первый международный фестиваль горных курортов Евразии проводится на курорте «Роза Хутор». В рамках фестиваля организованы спуски команд-участниц разных стран, насыщенная деловая программа, мероприятия корпоративного университета ЕАГК и вечер национальных кухонь.</div>
			</div>
			<div class="notice-m__col-4">
				<div class="notice-m__more">
					<a href="javascript:void(0)" class="btn btn_blue">Подробнее</a>
				</div>
				<div class="notice-m__fold">
					<button class="dropdown dropdown_label is-opened js-notice-fold">свернуть</button>
				</div>
			</div>
		</div>
	</div>
</div>